// _variables.scss
// Define global variables for colors, typography, and spacing

// Colors

$color-black: #202020;
$color-black-1: #242424;
$color-black-2: #565656;

$color-secondary : #EC1552;
$color-secondary-light : rgb(249 209 220 / 85%);
$color-white: #ffffff;

$color-gray: #B3B3B3;
$color-gray-1: #565656;
$color-gray-dark: #4D4D4D;
$color-gray-light: #A7A7A7;
$color-border: #A4A4A4;

$font-outfit-regular : "outfit-regular";
$font-outfit-bold : "outfit-bold";
$font-ovo : 'ovo';