.services {
 
  &__text {
    max-width: 764px;
    margin: 0 auto;

    .text {
      margin: 3.2rem 0 0 0;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.8rem;
    font-family: $font-outfit-regular;
    margin: 6.4rem 0;

    @media (max-width: 1250px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    padding: 5.2rem 3.4rem;
    border: 3px solid $color-gray;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      background-color: $color-secondary-light;
      box-shadow: 6px 1rem 0 0 $color-black;
    }

    &-text {
      font-size: 1.6rem;
      color: $color-gray-1;
      letter-spacing: 0.5px;
      line-height: 1.8;
    }
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 600;
    margin: 3.5rem 0;
    text-transform: capitalize;
  }

  &__img {
    height: 47px;
    width: 47px;

    img {
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }

  &__link{
   
    margin-top: 3.4rem;
    a{
        font-size: 1.6rem;
        color: $color-gray-1;
        text-transform: capitalize;
        display: flex;
        gap: 1rem;
        transition: all .3s;

        &:hover{
            color: $color-black;
            gap: 1.5rem;
        }
    }
  }
}
